/* Declaraciones generales*/
*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: Nunito Medium;
    src: url(/assets/fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: Nunito Regular;
    src: url(/assets/fonts/Nunito-Regular.ttf);
}

:root{
    --h3-font:"Nunito Medium";
    --h1-font:"Nunito Regular";
    --secondary-color:rgb(0, 153, 255);
    --secondary-text-color:white;
}

/* Estilos para el nav */
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100vw;
    height:10vh;
    margin:0;
    padding:0;
}

nav img{
    width:50vw;
    max-width:250px;
    margin-left: 1vw;
}

#menu-button{
    margin-right:2vw;
    position:relative;
    top:5px;
}

.responsive-menu{
    display:none;
    animation:fadeIn 2s;
    
}

.responsive-links{
    color:black;
    font-family: var(--h3-font);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding-right:15px;
    list-style: none;
    border:1px solid rgb(216, 216, 216);
    width:300px;
    padding:30px 10px 30px 0;
}

.responsive-menu-active{
    display:flex;
    background-color: white;
    align-items: center;
    right:0;
    position:absolute;
    animation:fadeInDown 2s;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
 } 

 .desktop-menu{
    display:none;
 }

 @media screen and (min-width:1000px) {
    #menu-button{
        display:none;
    }

    .responsive-menu-active{
        display:none;
    }

    .desktop-menu{
        display:flex;
        flex-direction: row;
        list-style:none;
        gap:20px;
        padding-right:5vw;
     }
 }

 /* Atributos del hero */
.hero h1{
    font-family: var(--h1-font);
    color:var(--secondary-text-color);
    font-size: min(8vw, 64px);
    padding:0 0 10px 2vw;
}

.hero h2{
    color:var(--secondary-text-color);
    font-family:var(--h3-font);
    padding:2vh 0 0 2vw;
    width:80vw;
}
  
.hero-container{
    background-color: var(--secondary-color);
    padding-top:20px;
    display:flex;
    align-items: center;
    height:70vh;
}

button {
    padding: 1.3em 3em;
    margin-top:30px;
    font-size: min(2.5vw, 16px);
    text-transform: uppercase;
    font-family:var(--h3-font);
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(12, 96, 151);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
