/* Declaraciones generales*/
*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: Nunito Medium;
    src: url(/assets/fonts/Nunito-Medium.ttf);
}

:root{
    --h3-font:"Nunito Medium";
}

/* Estilos para el nav */
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100vw;
    height:10vh;
    margin:0;
    padding:0;
    border-bottom:2px solid rgb(216, 216, 216);
}

nav img{
    width:50vw;
    max-width:250px;
    margin-left: 1vw;
}

#menu-button{
    margin-right:2vw;
    position:relative;
    top:5px;
}

.responsive-menu{
    display:none;
    animation:fadeIn 2s;
    
}

.responsive-links{
    color:black;
    font-family: var(--h3-font);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding-right:15px;
    list-style: none;
    border:1px solid rgb(216, 216, 216);
    width:300px;
    padding:30px 10px 30px 0;
}

.responsive-menu-active{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    animation:fadeInDown 2s;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
 } 

  